<div class="container-fluid">
    <div class="d-sm-flex justify-content-between align-items-center mb-4">
        <h3 class="text-dark mb-0">&nbsp;Ajouter un patient</h3>
    </div>
    <div class="d-sm-flex justify-content-between align-items-center mb-4">
        <section class="container">
            <div id="multple-step-form-n" class="container overflow-hidden" style="margin-top: 0px;margin-bottom: 10px;padding-bottom: 300px;padding-top: 57px;">
                <div id="progress-bar-button" class="multisteps-form">
                    <div class="row">
                        <div class="col-12 col-lg-12 ml-auto mr-auto mb-4">
                            <div class="multisteps-form__progress"><a class="btn multisteps-form__progress-btn js-active" role="button" title="User Info">Informations Personnelles</a><a class="btn multisteps-form__progress-btn" role="button" title="User Info">Suivant</a><a class="btn multisteps-form__progress-btn" role="button" title="User Info">Contact&nbsp;</a></div>
                        </div>
                    </div>
                </div>
                <div id="multistep-start-row" class="row">
                    <div id="multistep-start-column" class="col-12 col-lg m-auto">
                        <form id="main-form" class="multisteps-form__form">
                            <div id="single-form-next" class="multisteps-form__panel shadow p-4 rounded bg-white js-active" data-animation="scaleIn">
                                <h3 class="text-center multisteps-form__title">Informations Personnelles</h3>
                                <div id="form-content" class="multisteps-form__content">
                                    <div id="input-grp-single-3" class="form-row mt-4">
                                        <div class="col-12"><input class="form-control multisteps-form__input" type="text" placeholder="Nom"></div>
                                    </div>
                                    <div id="input-grp-single-4" class="form-row mt-4">
                                        <div class="col-12"><input class="form-control multisteps-form__input" type="text" placeholder="Prénom"></div>
                                    </div>
                                    <div id="input-grp-single" class="form-row mt-4">
                                        <div class="col-12"><label class="form-label">Date de Naissance</label><input class="form-control" type="date"></div>
                                    </div>
                                    <div id="input-grp-single-5" class="form-row mt-4">
                                        <div class="col-12"><input class="form-control multisteps-form__input" type="text" placeholder="CIN"></div>
                                    </div>
                                    <div id="next-button" class="button-row d-flex mt-4"><button class="btn btn btn-primary ml-auto js-btn-next" type="button" title="Next">Next</button></div>
                                </div>
                            </div>
                            <div id="single-form-next-prev" class="multisteps-form__panel shadow p-4 rounded bg-white" data-animation="scaleIn">
                                <h3 class="text-center multisteps-form__title">Informations Personnelles</h3>
                                <div id="form-content-1" class="multisteps-form__content">
                                    <div id="input-grp-single-7" class="form-row mt-4">
                                        <div class="col-12">
                                            <div>
                                                <fieldset><legend>Sexe :</legend>
                                                    <div class="custom-control custom-radio"><input type="radio" id="customRadio1" class="custom-control-input" name="customRadio" checked=""><label class="form-label custom-control-label" for="customRadio1">&nbsp;Homme</label></div>
                                                    <div class="custom-control custom-radio"><input type="radio" id="customRadio2" class="custom-control-input" name="customRadio"><label class="form-label custom-control-label" for="customRadio2">&nbsp;Femme</label></div>
                                                </fieldset>
                                            </div>
                                        </div>
                                    </div>
                                    <div id="input-grp-single-6" class="form-row mt-4">
                                        <div class="col-12"><input class="form-control multisteps-form__input" type="text" placeholder="BloodGroup"></div>
                                    </div>
                                    <div id="input-grp-single-1" class="form-row mt-4">
                                        <div class="col-12"><input class="form-control multisteps-form__input" type="text" placeholder="Statut familial"></div>
                                    </div>
                                    <div id="next-prev-buttons" class="button-row d-flex mt-4"><button class="btn btn btn-primary js-btn-prev" type="button" title="Prev">Prev</button><label class="form-label">&nbsp;</label><button class="btn btn btn-primary ml-auto js-btn-next" type="button" title="Next">Next</button></div>
                                </div>
                            </div>
                            <div id="single-form-next-prev-1" class="multisteps-form__panel shadow p-4 rounded bg-white" data-animation="scaleIn">
                                <h3 class="text-center multisteps-form__title">Informations Personnelles</h3>
                                <div id="form-content-2" class="multisteps-form__content">
                                    <div id="input-grp-single-8" class="form-row mt-4">
                                        <div class="col-12"><input class="form-control multisteps-form__input" type="text" placeholder="Adresse"></div>
                                    </div>
                                    <div id="input-grp-single-9" class="form-row mt-4">
                                        <div class="col-12"><input class="form-control multisteps-form__input" type="text" placeholder="Numéro Tel :"></div>
                                    </div>
                                    <div id="input-grp-single-2" class="form-row mt-4">
                                        <div class="col-12"><input class="form-control multisteps-form__input" type="text" placeholder="Email"></div>
                                    </div>
                                    <div id="input-grp-single-10" class="form-row mt-4">
                                        <div class="col-12"><input class="form-control" type="file"></div>
                                    </div>
                                    <div id="next-prev-buttons-1" class="button-row d-flex mt-4"><button class="btn btn btn-primary js-btn-prev" type="button" title="Prev">Prev</button><label class="form-label">&nbsp;</label><button class="btn btn btn-primary ml-auto js-btn-next" type="button" title="Ajouter">Ajouter</button></div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div><br>
                <div class="card shadow">
                    <div class="card-header py-3">
                        <p class="text-primary m-0 fw-bold">Liste des Patients</p>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-6 text-nowrap">
                                <div id="dataTable_length" class="dataTables_length" aria-controls="dataTable"><label class="form-label">Show&nbsp;<select class="d-inline-block form-select form-select-sm">
                                            <option value="10" selected="">10</option>
                                            <option value="25">25</option>
                                            <option value="50">50</option>
                                            <option value="100">100</option>
                                        </select>&nbsp;</label></div>
                            </div>
                            <div class="col-md-6">
                                <div class="text-md-end dataTables_filter" id="dataTable_filter"><label class="form-label"><input type="search" class="form-control form-control-sm" aria-controls="dataTable" placeholder="Search"></label></div>
                            </div>
                        </div>
                        <div class="table-responsive table mt-2" id="dataTable-1" role="grid" aria-describedby="dataTable_info">
                            <table class="table my-0" id="dataTable">
                                <thead>
                                    <tr>
                                        <th>Nom</th>
                                        <th>Tel</th>
                                        <th>CIN</th>
                                        <th>Age</th>
                                        <th>No.Patient</th>
                                        <th>Actions</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td><img class="rounded-circle me-2" width="30" height="30" src="assets/img/avatars/Me3.jpeg">Fathi Youssef</td>
                                        <td>066176454</td>
                                        <td>AA7895</td>
                                        <td>33</td>
                                        <td>J45656454</td>
                                        <td><button class="btn text-info" style="margin-left: 5px;" type="submit"><a href="DetailsArticle.html"><i class="fa fa-eye" style="font-size: 15px;"></i></a></button><button class="btn text-warning" style="margin-left: 5px;" type="submit" data-bs-toggle="modal" data-bs-target="#staticBackdrop-1"><i class="fas fa-user-edit" style="font-size: 15px;"></i></button>
                                            <div id="staticBackdrop-1" class="modal fade" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                                                <div id="modaldialog-1" class="modal-dialog">
                                                    <div id="modalcontent-1" class="modal-content">
                                                        <div id="modalheader-1" class="modal-header"><h1 id="staticBackdropLabel-1" class="modal-title">Modifier Patient</h1><button class="btn btn-primary btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button></div>
                                                        <div id="modalbody-1" class="modal-body">
                                                            <div class="card shadow">
                                                                <div class="card-body">
                                                                    <form>
                                                                        <div class="mb-3"><label class="form-label" for="Nom" id="LabelNom"><strong>Nom :</strong></label><input class="form-control" type="text" id="Nom" placeholder="Nom" name="nom"></div>
                                                                        <div class="mb-3"><label class="form-label" for="address"><strong>Prénom :</strong></label><input class="form-control" type="text" id="prenom" placeholder="Prénom" name="prenom"></div>
                                                                        <div class="row">
                                                                            <div class="col">
                                                                                <div class="mb-3"><label class="form-label" for="city"><strong>CIN :</strong></label><input class="form-control" type="text" id="CIN" placeholder="CIN" name="cin"></div>
                                                                            </div>
                                                                            <div class="col">
                                                                                <div class="mb-3"><label class="form-label" for="country"><strong>Telephone :</strong></label><input class="form-control" type="text" id="telephone" placeholder="Tél" name="telephone"></div>
                                                                            </div>
                                                                        </div>
                                                                        <div class="row">
                                                                            <div class="col">
                                                                                <div class="mb-3"><label class="form-label" for="city"><strong>Adresse :</strong></label><input class="form-control" type="text" id="Adresse" placeholder="Adresse" name="adresse"></div>
                                                                            </div>
                                                                            <div class="col">
                                                                                <div class="col-12"><label class="form-label">Date de Naissance</label><input class="form-control" type="date"></div>
                                                                            </div>
                                                                        </div>
                                                                        <div class="row">
                                                                            <div class="col">
                                                                                <div class="mb-3"><label class="form-label" for="city"><strong>Email :</strong></label><input class="form-control" type="text" id="email" placeholder="Email" name="email"></div>
                                                                            </div>
                                                                            <div class="col">
                                                                                <div class="mb-3"><label class="form-label" for="country"><strong>Statut familial :</strong></label><input class="form-control" type="text" id="telephone" placeholder="Statut familial" name="telephone"></div>
                                                                            </div>
                                                                        </div>
                                                                    </form>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div id="modal-footer-1" class="modal-footer"><button class="btn btn-primary btn btn-secondary" type="button" data-bs-dismiss="modal">Fermer</button><button class="btn btn-primary" type="button">Enregistrer</button></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td><img class="rounded-circle me-2" width="30" height="30" src="assets/img/avatars/Me3.jpeg">Fathi Youssef</td>
                                        <td>066176454</td>
                                        <td>AA7895</td>
                                        <td>33</td>
                                        <td>J45656454</td>
                                        <td><button class="btn text-info" style="margin-left: 5px;" type="submit"><a href="DetailsArticle.html"><i class="fa fa-eye" style="font-size: 15px;"></i></a></button><button class="btn text-warning" style="margin-left: 5px;" type="submit" data-bs-toggle="modal" data-bs-target="#staticBackdrop-1"><i class="fas fa-user-edit" style="font-size: 15px;"></i></button>
                                            <div id="staticBackdrop-1" class="modal fade" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                                                <div id="modaldialog-1" class="modal-dialog">
                                                    <div id="modalcontent-1" class="modal-content">
                                                        <div id="modalheader-1" class="modal-header"><h1 id="staticBackdropLabel-1" class="modal-title">Modifier Patient</h1><button class="btn btn-primary btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button></div>
                                                        <div id="modalbody-1" class="modal-body">
                                                            <div class="card shadow">
                                                                <div class="card-body">
                                                                    <form>
                                                                        <div class="mb-3"><label class="form-label" for="Nom" id="LabelNom"><strong>Nom :</strong></label><input class="form-control" type="text" id="Nom" placeholder="Nom" name="nom"></div>
                                                                        <div class="mb-3"><label class="form-label" for="address"><strong>Prénom :</strong></label><input class="form-control" type="text" id="prenom" placeholder="Prénom" name="prenom"></div>
                                                                        <div class="row">
                                                                            <div class="col">
                                                                                <div class="mb-3"><label class="form-label" for="city"><strong>CIN :</strong></label><input class="form-control" type="text" id="CIN" placeholder="CIN" name="cin"></div>
                                                                            </div>
                                                                            <div class="col">
                                                                                <div class="mb-3"><label class="form-label" for="country"><strong>Telephone :</strong></label><input class="form-control" type="text" id="telephone-1" placeholder="Tél" name="telephone"></div>
                                                                            </div>
                                                                        </div>
                                                                        <div class="row">
                                                                            <div class="col">
                                                                                <div class="mb-3"><label class="form-label" for="city"><strong>Adresse :</strong></label><input class="form-control" type="text" id="Adresse" placeholder="Adresse" name="adresse"></div>
                                                                            </div>
                                                                            <div class="col">
                                                                                <div class="col-12"><label class="form-label">Date de Naissance</label><input class="form-control" type="date"></div>
                                                                            </div>
                                                                        </div>
                                                                        <div class="row">
                                                                            <div class="col">
                                                                                <div class="mb-3"><label class="form-label" for="city"><strong>Email :</strong></label><input class="form-control" type="text" id="email" placeholder="Email" name="email"></div>
                                                                            </div>
                                                                            <div class="col">
                                                                                <div class="mb-3"><label class="form-label" for="country"><strong>Statut familial :</strong></label><input class="form-control" type="text" id="telephone-2" placeholder="Statut familial" name="telephone"></div>
                                                                            </div>
                                                                        </div>
                                                                    </form>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div id="modal-footer-1" class="modal-footer"><button class="btn btn-primary btn btn-secondary" type="button" data-bs-dismiss="modal">Fermer</button><button class="btn btn-primary" type="button">Enregistrer</button></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                                <tfoot>
                                    <tr></tr>
                                </tfoot>
                            </table>
                        </div>
                        <div class="row">
                            <div class="col-md-6 align-self-center"></div>
                            <div class="col-md-6">
                                <nav class="d-lg-flex justify-content-lg-end dataTables_paginate paging_simple_numbers">
                                    <ul class="pagination">
                                        <li class="page-item disabled"><a class="page-link" href="#" aria-label="Previous"><span aria-hidden="true">«</span></a></li>
                                        <li class="page-item active"><a class="page-link" href="#">1</a></li>
                                        <li class="page-item"><a class="page-link" href="#">2</a></li>
                                        <li class="page-item"><a class="page-link" href="#">3</a></li>
                                        <li class="page-item"><a class="page-link" href="#" aria-label="Next"><span aria-hidden="true">»</span></a></li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>
